{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
    <div class="container my-2 bg-light text-white">
        <div>
            <h1 style="color:black">Auctions</h1>
            <div style="color:black">
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'active' %}active{% endif %}" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'close' %}active{% endif %}" href="{% url 'index' %}?q=closed">Closed Listings</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'cat' %}active{% endif %}" href="{% url 'categories' %}">Categories</a>
                </li>                      
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if menu == 'watch' %}active{% endif %}" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if menu == 'new' %}active{% endif %}" href="{% url 'auctions_add' %}">New Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if menu == 'logout' %}active{% endif %}" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if menu == 'login' %}active{% endif %}" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if menu == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container my-2">
        <hr>
    </div>
    <div class="container my-2 bg-dark text-white">
        {% block body %}
        {% endblock %}
        {% block comment %}
        {% endblock %}     
    </div>
    </body>
</html>
