{% extends "auctions/layout.html" %}
{% autoescape on %}
    {% block body %}
        <div class="row">
            <div class="col-12"><h5>Watchlist</h5></div>
            {% if alert_message %}
                <div style="text-align: center" class="alert alert-warning"><h5 style="bg-alert">{{ alert_message }}</h5></div>        
            {% endif %}
        </div>  
        <div class="row">
            <div class="col-5"><p>Title</p></div>
            <div class="col-2"><p>Start Bid</p></div>
            <div class="col-2"><p>Higher Bid</p></div>            
        </div>  
        {% for w in watchlist %}
            <div class="row">
                <div class="col-5"><p><a href="{% url 'auctions_item' w.id_auction %}">{{ w.title }}</a></p></div>
                <div class="col-2"><p>{{ w.start_bid }}</p></div>
                <div class="col-2"><p>{{ w.higher }}</p></div>            
            </div>  
        {% endfor %}
    {% endblock%}
{% endautoescape %}